//色の変数
$main_color:white;
$sub_main_color:#f4f4f2;

// フォントサイズの変数
$primary-text: 40px;
$secondary-text: 25px;
$normal-text: 20px;

// 余白の変数
$flex_gap: 20px;


//文章のプロパティ
@mixin text_title(){ //文章のスタイル
    font-size: $primary-text;
    font-family: 'NoteSansJP_bold';
}
@mixin text_sub_title(){ //文章のスタイル
    font-size: $secondary-text;
    font-family: 'NoteSansJP_bold';
}
@mixin text(){
    font-size: $normal-text;
    font-family: 'NoteSansJP';
}

//塊別プロパティ
@mixin primary_block(){
    margin-top: 10px;
    margin-bottom: 90px;
}
@mixin secondary_block(){
    margin-top: 10px;
    margin-bottom: 2em;
}

//細部
@mixin flex_center($gap: $flex_gap){
    display: flex;
    justify-content: center;
    gap: $gap;
}
@mixin flex_start($gap: $flex_gap){
    display: flex;
    justify-content: start;
    gap: $gap;
}

@font-face {
	font-family: 'NoteSansJP';
	src: url(./fonts/NotoSansJP-Regular.otf);
}
@font-face {
	font-family: 'NoteSansJP_bold';
	src: url(./fonts/NotoSansJP-Bold.otf);
}

.container{
    margin-top: 150px;
}
.hide{
    display: none !important;
}